@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #27272a;
    --color-secondary: #f4f4f5;
    --color-accent: #ca8a04;
  }

  html.dark {
    --color-primary: #f4f4f5;
    /* Light text for dark mode */
    --color-secondary: #18181b;
    /* Zinc 900 for dark background */
  }

  body {
    @apply bg-gray-50 text-primary antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}